* {
	margin: 0;
	padding: 0;
}
body {
	background: #0094D6 url(../images/bg.gif) repeat-x;
	color: #466;
	font: normal 62.5% "Lucida Sans Unicode", sans-serif;
	margin: 0;
}
p, cite, code, ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}
code {
	background: url(../images/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #39F;
	color: #555;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode", serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
cite {
	background: url(../images/quote.gif) no-repeat;
	color: #666;
	display: block;
	font: normal 1.3em "Lucida Sans Unicode", serif;
	padding-left: 28px;
}
.clearer {
	clear: both;
}
.container {
	background: url(../images/topleft.gif) no-repeat;
}
.header {
	height: 92px;
}
.title {
	float: left;
	padding: 28px 0 0 76px;
}
.navigation {
	float: left;
	height: 92px;
	margin-left: 24px;
	padding: 0 16px;
}
.main {
	background: #FFF url(../images/bgmain.gif) no-repeat;
	clear: both;
	padding: 12px 12px 0 52px;
	min-width: 1100px;
}
.sidenav {
	float: left;
	width: 24%;
}
.sidenav ul {
	margin: 0;
	padding: 0;
}
.sidenav li {
	border-bottom: 1px dashed #EEE;
	list-style: none;
	margin: 0;
}
.content {
	float: left;
	margin-right: 4%;
	width: 69%;
	min-width: 770px;
}
.content li {
	list-style: url(../images/li.gif);
	margin-left: 18px;
}
.footer {
	background: #0094D6 url(../images/bgfooter.gif) repeat-x;
	color: #C1DEF0;
	font-size: 1.1em;
	line-height: 40px;
	text-align: center;
}
